.page1_upper_body {
  width: 100%;
  height: 44px;
  background-color: #e34140;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.47059;
  font-weight: 400;
  font-style: normal;

  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.page1_upper_body p {
  padding: 12px 0px;
}
.page1_upper_body a {
  text-decoration: none;
  color: #fff;
}
