/*.page_background_img{
   /* width: 3010px;
   width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-color: orangered;
    
    background-repeat: no-repeat;
    position: absolute;
    

}*/
