*{
    margin:0px ; 
    padding :0px ;
    
  
}

.container{
    width: 100%;
    margin:0px;
    padding: 0px ;
   display: flex; 
   flex-direction: column;
   box-sizing: border-box;
   position: relative;
   /*TODO:row gap main pages */
   
   
}
.page{
width: 100%;
 height: 624px;
margin:0px;
padding:0px;


}
.page1{
    background-color: green;
}
.page2{
    background-color: yellow;
}
.page3{
    background-color: blue;
}